:root {
    --dark-orange: hsl(8, 55%, 39%);
    --grey-orange: hsl(29, 30%, 68%);
    --very-dark-orange: hsl(7, 9%, 17%);
    --dark-grey-orange: hsl(12, 4%, 51%);
    --light-grey: hsl(0, 0%, 98%);
    --white: #fff;
    --fw-700: 700;
    --fw-400: 400;

    // color: #E06358
  }

  